@charset "UTF-8";
.container * {
  border: 1px solid red;
}

.container .box {
  width: 200px;
  height: 200px;
  background-color: pink;
}

.container .box .box1 {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
}

.container .box + .box2 {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
}

.container .box + .box2::before {
  content: "before";
}

.container .box + .box2::after {
  content: "after";
}

.container .box ~ div {
  background-color: red;
}

.container .box > div {
  background-color: rosybrown;
}

.container .box:hover {
  background-color: royalblue;
}

.container .box::before {
  content: "周二";
}

.container .box::after {
  content: "周三";
}
