*{
    border:1px solid red;
    padding:0;
    margin:0;
}
.sprite1 {
	background: url('img/ico-index-sort.png') no-repeat -9px -6px;
	width: 11px;
	height: 19px;
}
.sprite1_b {
	background: url('img/ico-index-sort.png') no-repeat -9px -6px;
	width: 11px;
	height: 19px;
}
.sprite2 {
	background: url('img/ico-index-sort.png') no-repeat -6px -107px;
	width: 19px;
	height: 17px;
}
.sprite2_b {
	background: url('img/ico-index-sort.png') no-repeat -6px -107px;
	width: 19px;
	height: 17px;
}
.sprite3 {
	background: url('img/ico-index-sort.png') no-repeat -6px -107px;
	width: 19px;
	height: 17px;
}
.sprite3_b {
	background: url('img/ico-index-sort.png') no-repeat -6px -107px;
	width: 19px;
	height: 17px;
}
.sprite4 {
	background: url('img/ico-index-sort.png') no-repeat -6px -301px;
	width: 17px;
	height: 27px;
}
.sprite4_b {
	background: url('img/ico-index-sort.png') no-repeat -6px -301px;
	width: 17px;
	height: 27px;
}
.sprite5 {
	background: url('img/ico-index-sort.png') no-repeat -3px -407px;
	width: 23px;
	height: 15px;
}
.sprite5_b {
	background: url('img/ico-index-sort.png') no-repeat -3px -457px;
	width: 23px;
	height: 15px;
}
.sprite6{
	background: url('img/ico-index-sort.png') no-repeat -5px -502px;
	width: 19px;
	height: 26px;
}
.sprite6_b {
	background: url('img/ico-index-sort.png') no-repeat -5px -552px;
	width: 19px;
	height: 26px;
}
.sprite7 {
	background: url('img/ico-index-sort.png') no-repeat -6px -602px;
	width: 18px;
	height: 26px;
}
.sprite7_b {
	background: url('img/ico-index-sort.png') no-repeat -6px -652px;
	width: 18px;
	height: 26px;
}
.sprite8 {
	background: url('img/ico-index-sort.png') no-repeat -5px -706px;
	width: 19px;
	height: 17px;
}
.sprite8_b {
	background: url('img/ico-index-sort.png') no-repeat -5px -756px;
	width: 19px;
	height: 17px;
}

.box{
    width:150px;
    height:520px;
}
.title{
    background:linear-gradient(#b02532,#d93e55);
    width:150px;
    height:70px;
    font-size:20px;
    text-align:center;
    line-height:70px;
    color:white;
    font-family:"Microsoft Yahei";
}
.header li{
    position:relative;
    width:150px;
    height:50px;
}
.header ul:nth-child(1){
    background: red -5px -756px;
    width: 11px;
	height: 19px;
}


.header li:hover{
    background-color:#d93a51 ;
    color:white;
}

.nav-bar li .item-2{
position:absolute;
left:100px;
display:none;
background:yellow;
color:blue;
}

.nav-bar li:hover .item-2{
    display:block;
    list-style-type:"\1F44D" ;
}