* {
  margin: 0;
  padding: 0;
}

#release {
  width: 100px;
  height: 50px;
  background-color: #f99135;
  border-radius: 7px;
}

header {
  background-color: white;
  position: sticky;
  border-bottom: 2px solid #f99135;
  top: 0px;
  z-index: 10000;
}

header .header {
  background-color: #f0f0f0;
  width: 100%;
  min-width: 1100px;
}

header .header > div {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #9a9a9a;
}

header .header > div .header-left {
  height: 100%;
  display: flex;
  align-items: center;
}

header .header > div .header-left a {
  text-decoration: none;
  color: #9a9a9a;
}

header .header > div .header-right {
  height: 100%;
  display: flex;
  align-items: center;
}

header .header > div .header-right span {
  height: 40px;
  margin: 0 10px;
}

header .header > div .header-right span:first-child {
  height: 19px;
  border-right: 1px solid #9a9a9a;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

header .header > div .header-right span button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  line-height: 40px;
  color: #9a9a9a;
}

header .nav {
  height: 90px;
}

header .nav > div {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav > div .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav > div .left > div {
  height: 100%;
  width: 190px;
  background-image: url(../images/logo-img.jpg);
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: left center;
}

header .nav > div .left select {
  width: 50px;
  border: none;
  outline: none;
  appearance: none;
  background-image: url(../images/down-icon.jpg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 32px center;
}

header .nav > div ul {
  list-style: none;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

header .nav > div ul li {
  text-align: center;
  white-space: nowrap;
  height: 100%;
  padding: 0 24px;
  cursor: pointer;
  line-height: 90px;
}

header .nav > div ul li:hover {
  background-color: #f99135;
}

header .nav > div ul li:hover a {
  color: #fff;
}

header .nav > div ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

header .nav > div .right {
  display: flex;
  align-items: center;
}

header .nav > div .right input {
  color: #bfbfbf;
  font-size: 16px;
  padding-left: 20px;
  width: 300px;
  height: 38px;
  outline: none;
  border: 2px solid #f99135;
  border-radius: 21px;
}

header .nav > div .right ::-webkit-input-placeholder {
  color: #bfbfbf;
  font-size: 16px;
}

header .nav > div .right button {
  margin-left: -36px;
  width: 70px;
  height: 42px;
  background-color: #f99135;
  outline: none;
  border: none;
  border-radius: 21px;
  background-image: url(../images/search-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

header .nav > div .right button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 42px;
}

main {
  margin-bottom: 50px;
}

main .zhanshi {
  width: 100%;
  height: 380px;
  background-image: url(.././images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

main .zhanshi .banner {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

main .zhanshi .banner .mains {
  width: 740px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

main .zhanshi .banner .mains .left {
  margin-left: 30px;
}

main .zhanshi .banner .mains .right {
  width: 470px;
  text-align: left;
  margin-left: 30px;
}

main .zhanshi .banner .mains .right h3 {
  font-size: 26px;
  font-weight: normal;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 5px;
}

main .zhanshi .banner .mains .right h5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 14px;
}

main .zhanshi .banner .mains .right h6 {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 6px;
}

main .zhanshi .banner .mains .right p {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  margin: 6px 0;
}

main .zhanshi .banner .mains .right .koubei {
  display: flex;
  justify-content: space-between;
}

main .zhanshi .banner .mains .right .koubei .btn {
  margin-top: 52px;
}

main .zhanshi .banner .mains .right .koubei .btn a {
  list-style: none;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 5px;
}

main .zhanshi .banner .mains .right .koubei .btn button:first-child {
  border: none;
  width: 120px;
  height: 36px;
  background-color: #756189;
  border-radius: 2px;
  margin-right: 6px;
}

main .zhanshi .banner .mains .right .koubei .btn button:first-child .fa {
  color: #fff;
}

main .zhanshi .banner .mains .right .koubei .btn button:nth-child(2) {
  width: 120px;
  background-color: #756189;
  height: 36px;
  border-radius: 2px;
  border: none;
}

main .zhanshi .banner .mains .right .koubei .btn button:nth-child(2) .fa {
  color: white;
}

main .zhanshi .banner .mains .right .koubei .btn button:last-child {
  width: 250px;
  background-color: #f99135;
  height: 40px;
  border-radius: 2px;
  border: none;
  margin-top: 10px;
}

main .zhanshi .banner .mains .right .koubei .word {
  width: 200px;
}

main .zhanshi .banner .mains .right .koubei .word p {
  font-size: 12px;
  font-weight: normal;
  line-height: 25px;
  color: #ffffff;
}

main .zhanshi .banner .mains .right .koubei .word h2 {
  font-size: 30px;
  font-weight: normal;
  color: #f99135;
  margin-right: 15px;
}

main .zhanshi .banner .mains .right .koubei .word span {
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  margin-left: 5px;
}

main .zhanshi .banner .mains .right .koubei .word h3 {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  line-height: 25px;
}

main .zhanshi .banner .mains .right .koubei .word .xingji {
  display: flex;
}

main .zhanshi .banner .mains .right .koubei .word .xingji img {
  margin-bottom: 5px;
}

main .xiangqing {
  width: 100%;
}

main .xiangqing .mianbao {
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 25px;
}

main .xiangqing .mianbao .breadcrumb {
  background-color: #fff;
  text-align: left;
  padding: 0;
  margin: 0;
}

main .xiangqing .mianbao .breadcrumb .breadcrumb-item {
  font-size: 16px;
  color: #333333;
}

main .xiangqing .mianbao .breadcrumb .breadcrumb-item a {
  font-size: 16px;
  color: #333333;
}

main .xiangqing .mianbao .breadcrumb .breadcrumb-item::before {
  content: ">";
}

main .xiangqing .mianbao .breadcrumb .breadcrumb-item:first-child::before {
  content: "";
}

main .xiangqing .jianjie {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

main .xiangqing .jianjie .left {
  width: 730px;
}

main .xiangqing .jianjie .nav-item p {
  background-color: #fff;
  font-size: 18px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  line-height: 38px;
}

main .xiangqing .jianjie .nav-item p:hover {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  height: 38px;
  color: #f99135;
  border-bottom: 2px solid #f99135;
  top: 40px;
  border-radius: 0rem !important;
  z-index: 1;
}

main .xiangqing .jianjie .btm {
  height: 2px;
  width: 730px;
  background-color: #eee;
  position: absolute;
  z-index: 1;
}

main .xiangqing .jianjie .tab-content {
  margin-top: 40px;
  background-color: white;
  background-image: none;
}

main .xiangqing .jianjie .tab-content .tab-pane {
  display: none;
}

main .xiangqing .jianjie .tab-content .nei {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

main .xiangqing .jianjie .tab-content .juqing h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
}

main .xiangqing .jianjie .tab-content .juqing p {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
}

main .xiangqing .jianjie .tab-content .actor h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

main .xiangqing .jianjie .tab-content .actor h3 span {
  font-size: 14px;
  line-height: 25px;
  color: #666666;
  font-weight: normal;
}

main .xiangqing .jianjie .tab-content .actor h3 span img {
  margin-top: -5px;
  margin-left: 5px;
}

main .xiangqing .jianjie .tab-content .actor .zhaopian {
  display: flex;
}

main .xiangqing .jianjie .tab-content .actor .zhaopian p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  color: #333333;
  font-size: 16px;
  margin-top: 25px;
  margin-right: 125px;
}

main .xiangqing .jianjie .tab-content .actor ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

main .xiangqing .jianjie .tab-content .actor ul p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  margin-top: 14px;
  line-height: 16px;
}

main .xiangqing .jianjie .tab-content .actor ul span {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}

main .xiangqing .jianjie .tab-content .pinglun {
  margin-top: 55px;
}

main .xiangqing .jianjie .tab-content .pinglun h3 {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
  display: flex;
  justify-content: space-between;
}

main .xiangqing .jianjie .tab-content .pinglun h3 button {
  border: none;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #f99135;
  width: 64px;
  font-size: 14px;
  line-height: 32px;
  color: #f99135;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 {
  width: 730px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1:last-child {
  border-bottom: none;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .left {
  width: 50px;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right {
  flex-grow: 1;
  margin-left: 20px;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .shang {
  display: flex;
  justify-content: space-between;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .shang h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0px;
  color: #333333;
  margin: 0;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .shang p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #999999;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .shang p img {
  margin-top: -5px;
  margin-left: 6px;
  height: 16px;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .shang #goods {
  margin-top: 16px;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .shang #goods .fa {
  color: #999;
  margin-right: 9px;
}

main .xiangqing .jianjie .tab-content .pinglun .ping1 .right .xia {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
}

main .xiangqing .jianjie .tab-content .nav-right1 {
  box-sizing: border-box;
  width: 360px;
  margin-top: -205px;
}

main .xiangqing .jianjie .tab-content .nav-right1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

main .xiangqing .jianjie .tab-content .nav-right1 ul p {
  background-color: #fff;
  font-size: 18px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  line-height: 38px;
}

main .xiangqing .jianjie .tab-content .nav-right1 ul p:hover {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  height: 38px;
  color: #f99135;
  border-bottom: 2px solid #f99135;
  top: 40px;
  border-radius: 0px;
  z-index: 1;
}

main .xiangqing .jianjie .tab-content .btm {
  height: 2px;
  width: 360px;
  background-color: #eee;
  position: absolute;
  z-index: 1;
}

main .xiangqing .jianjie .tab-content .yugao {
  margin-top: 47px;
  width: 360px;
}

main .xiangqing .jianjie .tab-content .yugao h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
}

main .xiangqing .jianjie .tab-content .yugao ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

main .xiangqing .jianjie .tab-content .yugao ul li {
  display: flex;
  margin-bottom: 20px;
}

main .xiangqing .jianjie .tab-content .yugao ul li h5 {
  margin: 0;
  margin-left: 23px;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  color: #333333;
}

main .xiangqing .jianjie .tab-content .yugao ul li p {
  margin: 0;
  margin-left: 23px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #999999;
  margin-top: 18px;
}

main .xiangqing .jianjie .tab-content .yugao ul li p::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 0px;
  height: 0px;
  border: 6px solid #d8d8d8;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
}

main .xiangqing .jianjie .tab-content .xiangguan {
  margin-top: 47px;
  width: 360px;
}

main .xiangqing .jianjie .tab-content .xiangguan h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
}

main .xiangqing .jianjie .tab-content .xiangguan ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .xiangqing .jianjie .tab-content .xiangguan ul li {
  margin-bottom: 20px;
  text-align: center;
}

main .xiangqing .jianjie .tab-content .xiangguan ul li h5 {
  margin: 0;
  margin-top: 13px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}

main .xiangqing .jianjie .tab-content .xiangguan ul li p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f99135;
  margin-top: 13px;
}

main .xiangqing .jianjie .tab-content .xiangguan ul li .xie {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  color: #f99135;
  margin: 0;
  padding: 0;
  margin-top: 13px;
}

main .xiangqing .jianjie .tab-content .xiangguan ul li .xie span {
  font-size: 14px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active {
  display: block;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanzhi h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanzhi h4 span {
  font-size: 14px;
  color: #999999;
  margin-left: 14px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanzhi img {
  margin-top: 18px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanzhi p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  color: #333333;
  font-size: 16px;
  margin-top: 14px;
  margin-left: 40px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  margin-top: 58px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan h4 span {
  font-size: 14px;
  color: #999999;
  margin-left: 14px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan ul li {
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan ul li:nth-child(5) {
  margin-right: 0;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan ul li p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  margin-top: 14px;
  line-height: 16px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .yanyuan ul li span {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .nav-right {
  box-sizing: border-box;
  width: 360px;
  margin-top: -75px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .nav-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 38px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .nav-right ul p {
  background-color: #fff;
  font-size: 18px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  line-height: 38px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .nav-right ul p:hover {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  height: 38px;
  color: #f99135;
  border-bottom: 2px solid #f99135;
  top: 40px;
  border-radius: 0px;
  z-index: 1;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .btm {
  height: 2px;
  width: 360px;
  background-color: #eee;
  position: absolute;
  z-index: 1;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao {
  margin-top: 47px;
  width: 360px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao ul li {
  display: flex;
  margin-bottom: 20px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao ul li h5 {
  margin: 0;
  margin-left: 23px;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  color: #333333;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao ul li p {
  margin: 0;
  margin-left: 23px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #999999;
  margin-top: 18px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .yugao ul li p::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 0px;
  height: 0px;
  border: 6px solid #d8d8d8;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan {
  margin-top: 47px;
  width: 360px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan h3 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  padding-left: 10px;
  border-left: 4px solid #f99135;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan ul li {
  margin-bottom: 20px;
  text-align: center;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan ul li h5 {
  margin: 0;
  margin-top: 13px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan ul li p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f99135;
  margin-top: 13px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan ul li .xie {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  color: #f99135;
  margin: 0;
  padding: 0;
  margin-top: 13px;
}

main .xiangqing .jianjie .tab-content .tab-pane.active .right .xiangguan ul li .xie span {
  font-size: 14px;
}

main .comment {
  position: fixed;
  top: 180px;
  left: 605px;
  z-index: 3;
  display: none;
}

main .comment .da {
  width: 570px;
  height: 470px;
  background-color: rgba(178, 178, 178, 0.6);
  overflow: hidden;
}

main .comment .da .nei {
  width: 550px;
  height: 450px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

main .comment .da .nei .text {
  text-align: center;
  margin-top: 92px;
}

main .comment .da .nei .text p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #f99135;
}

main .comment .da .nei .text ul {
  display: flex;
  width: 160px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  display: none;
}

main .comment .da .nei .text ul li {
  text-align: center;
  margin-right: 5px;
}

main .comment .da .nei .text ul .fa {
  font-size: 30px;
  color: #ccc;
}

main .comment .da .nei .text .item-1 li:nth-child(1) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-2 li:nth-child(1) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-2 li:nth-child(2) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-3 li:nth-child(1) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-3 li:nth-child(2) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-3 li:nth-child(3) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-4 li:nth-child(1) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-4 li:nth-child(2) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-4 li:nth-child(3) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-4 li:nth-child(4) .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item-5 li .fa {
  color: #ffc660;
}

main .comment .da .nei .text .item.active {
  display: block;
  display: flex;
}

main .comment .da .nei .wenbenyu {
  text-align: center;
  margin-top: 40px;
}

main .comment .da .nei .wenbenyu textarea {
  width: 488px;
  height: 158px;
}

main .comment .da .nei .close {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

footer .top {
  height: 222px;
  width: 100%;
  white-space: nowrap;
  min-width: 1300px;
  border-top: 1px solid #dbdbdb;
  background-color: #262526;
}

footer .top > div {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
}

footer .top > div div {
  padding: 0 100px;
}

footer .top > div div h3 {
  color: white;
  font-size: 18px;
}

footer .top > div div span {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f99135;
  margin-top: 10px;
}

footer .top > div div ul {
  padding-top: 15px;
}

footer .top > div div ul li {
  list-style: none;
  font-size: 12px;
  padding-bottom: 5px;
  color: #e2e2e2;
}

footer .bottom {
  height: 87px;
  background-color: #262526;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #545454;
}

footer .bottom P {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
}

#close {
  border: 1px solid transparent;
  position: absolute;
  top: -44px;
  right: -44px;
  width: 88px;
  height: 88px;
  background-color: #b2b2b2;
  border-radius: 44px;
  cursor: pointer;
}

#close span {
  display: inline-block;
  margin-top: 37px;
  margin-left: 15px;
  font-size: 32px;
  color: #fff;
}

#close1 {
  border: 1px solid transparent;
  position: absolute;
  top: -44px;
  right: -44px;
  width: 88px;
  height: 88px;
  background-color: #b2b2b2;
  border-radius: 44px;
  cursor: pointer;
}

#close1 span {
  display: inline-block;
  margin-top: 37px;
  margin-left: 15px;
  font-size: 32px;
  color: #fff;
}

#bg {
  display: none;
  position: fixed;
  z-index: 10124;
  height: 600px;
  width: 444px;
  left: calc(50% - 222px);
  top: 140px;
  background: #000000;
  opacity: 0.3;
}

#login {
  position: relative;
  width: 424px;
  height: 580px;
  padding: 52px 42px;
  box-sizing: border-box;
  background-color: white;
  display: none;
  position: fixed;
  z-index: 10125;
  left: calc(50% - 212px);
  top: 150px;
  overflow: hidden;
}

#login .title {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

#login .title span {
  display: inline-block;
  width: 40px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 16px;
  font-size: 16px;
  color: #333333;
}

#login .title span:first-child {
  color: #999999;
  border-bottom: 4px solid #f99135;
}

#login input::-webkit-input-placeholder {
  color: #999999;
}

#login .input {
  width: 340px;
  height: 46px;
  outline: none;
  color: #999999;
  margin-bottom: 25px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border: 1px solid #d8d8d8;
  padding-left: 14px;
  border-radius: 5px;
}

#login .line {
  display: inline-block;
  width: 360px;
  border-top: 1px solid #d3d3d3;
  margin-top: 22px;
}

#login button {
  width: 340px;
  height: 46px;
  margin-top: 20px;
  margin-bottom: 25px;
  outline: none;
  background-color: #d3d3d3;
  border-radius: 5px;
  cursor: not-allowed;
  border: 1px solid #d3d3d3;
}

#login button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 46px;
}

#login .autologin {
  font-size: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
}

#login .autologin input {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

#login .autologin span {
  color: #999999;
}

#login .autologin span a {
  text-decoration: none;
  color: #f99135;
}

#login .agree {
  font-size: 12px;
  color: #999999;
  margin-top: 34px;
}

#login .agree input {
  width: 12px;
  height: 12px;
  margin-right: 15px;
}

#login p {
  margin-top: -23px;
  font-size: 12px;
}

#login #loginCode {
  width: 120px;
  height: 46px;
  outline: none;
  color: #999999;
  margin-bottom: 25px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border: 1px solid #d8d8d8;
  padding-left: 14px;
  border-radius: 5px;
  position: relative;
  float: left;
}

#login #loginCodeBox {
  border: 2px solid #dbdbdb;
  height: 46px;
  width: 69px;
  text-align: center;
  border-radius: 7px;
  letter-spacing: 5px;
  margin-left: 10px;
  font-size: 20px;
  line-height: 46px;
  float: left;
  cursor: pointer;
}

#login #loginCodeMsg {
  position: absolute;
  top: 383px;
  left: 44px;
}

#login .eyes {
  position: absolute;
  right: 20px;
  padding-top: 10px;
  color: #000;
}

#login #loginSx {
  height: 46px;
  font-size: 14px;
  line-height: 46px;
  margin-left: 15px;
}

#register {
  position: relative;
  display: none;
  width: 424px;
  height: 580px;
  padding: 52px 42px;
  box-sizing: border-box;
  background-color: white;
  display: none;
  position: fixed;
  z-index: 10125;
  left: calc(50% - 212px);
  top: 150px;
  overflow: hidden;
}

#register .title {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

#register .title span {
  display: inline-block;
  width: 40px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 16px;
  font-size: 16px;
  color: #333333;
}

#register .title span:last-child {
  color: #999999;
  border-bottom: 4px solid #f99135;
}

#register input::-webkit-input-placeholder {
  color: #999999;
}

#register .input {
  width: 340px;
  height: 46px;
  outline: none;
  color: #999999;
  margin-bottom: 25px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border: 1px solid #d8d8d8;
  padding-left: 14px;
  border-radius: 5px;
  position: relative;
}

#register .line {
  display: inline-block;
  width: 360px;
  border-top: 1px solid #d3d3d3;
  margin-top: 22px;
}

#register button {
  width: 340px;
  height: 46px;
  margin-top: 20px;
  margin-bottom: 25px;
  outline: none;
  cursor: not-allowed;
  background-color: #d3d3d3;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

#register button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  pointer-events: none;
  font-size: 20px;
  color: white;
  line-height: 46px;
}

#register .gologin {
  text-align: right;
}

#register .gologin span {
  color: #f99135;
  cursor: pointer;
  font-size: 14px;
}

#register p {
  margin-top: -23px;
  font-size: 12px;
}

#register .eyes {
  position: absolute;
  right: 20px;
  padding-top: 10px;
  color: #000;
}

#register #code {
  width: 120px;
  height: 46px;
  outline: none;
  color: #999999;
  margin-bottom: 25px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border: 1px solid #d8d8d8;
  padding-left: 14px;
  border-radius: 5px;
  position: relative;
  float: left;
}

#register #codeBox {
  border: 2px solid #dbdbdb;
  height: 46px;
  width: 69px;
  text-align: center;
  border-radius: 7px;
  letter-spacing: 5px;
  margin-left: 10px;
  font-size: 20px;
  line-height: 46px;
  float: left;
  cursor: pointer;
}

#register #sx {
  height: 46px;
  font-size: 14px;
  line-height: 46px;
  margin-left: 15px;
}

#register #codeMsg {
  position: absolute;
  top: 468px;
  left: 44x;
}
