html {
  font-size: 6.66667vw;
}

header {
  background-color: #0b193f;
  height: 7.8rem;
}

header #head {
  height: 5.6rem;
  position: relative;
  overflow: hidden;
}

header #head::before {
  content: "";
  display: block;
  background-image: url("../images/bg1r.png");
  position: absolute;
  background-size: cover;
  right: 0px;
  top: 0px;
  width: 3.58rem;
  height: 4.12rem;
}

header #head .wrap {
  margin-left: 0.84rem;
  margin-top: 3.86rem;
  color: #f2f2f2;
  font-size: 0.72rem;
  display: flex;
  align-items: center;
}

header #head .wrap h3 {
  font-weight: normal;
  font-size: 0.72rem;
  margin-left: 0.34rem;
}

header #head .wrap::before {
  content: "";
  display: block;
  width: 0.88rem;
  height: 0.68rem;
  background-image: url("../images/helo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .order_btn {
  width: 13.4rem;
  height: 1.76rem;
  background-color: #233052;
  margin: 0 auto;
  border-radius: 0.28rem;
  display: flex;
  padding: 0.24rem 0.34rem;
  box-sizing: border-box;
  justify-content: space-around;
}

header .order_btn h3 {
  font-size: 0.48rem;
  color: #fff;
  padding: 0.3rem 1.6rem;
}

header .order_btn #layuse, header .order_btn #all {
  padding: 0.4rem 2rem;
  box-sizing: border-box;
}

header .order_btn .nowuse {
  background-color: #ffffff;
  border-radius: 0.28rem;
}

header .order_btn .nowuse h3 {
  color: #0b193f;
}

main {
  margin-bottom: 2.4rem;
}

main #used {
  display: none;
  padding: 0 0.8rem;
}

main #used .used_list li {
  display: flex;
  margin: 0.68rem 0 0.98rem;
}

main #used .used_list li .img_us {
  margin-right: 0.62rem;
}

main #used .used_list li .img_us img {
  width: 3.44rem;
  height: 6.2rem;
}

main #used .used_list li .decil {
  color: #000018;
  padding: 1.22rem 0;
  box-sizing: border-box;
  flex-grow: 1;
}

main #used .used_list li .decil .des h3 {
  font-size: 0.64rem;
}

main #used .used_list li .decil .des p {
  font-size: 0.48rem;
  margin: 0.46rem 0;
}

main #used .used_list li h5 {
  font-size: 0.48rem;
  color: #46cec9;
}

main #used .used_list li .red {
  color: red;
}

main #order_list {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.8rem;
}

main #order_list .ord_lis li {
  margin: 0.92rem 0;
  height: 7.04rem;
  background-image: url("../images/til.jpg.png");
  background-size: 100% 100%;
  padding: 0.74rem 0.7rem 1.04rem 0.7rem;
  box-sizing: border-box;
}

main #order_list .ord_lis li .toper {
  padding-bottom: 0.76rem;
  box-sizing: border-box;
  border-bottom: 1px dashed #9fa1ab;
  display: flex;
  justify-content: space-between;
}

main #order_list .ord_lis li .toper h4 {
  font-size: 0.56rem;
  color: #fff;
  margin-bottom: 0.42rem;
}

main #order_list .ord_lis li .toper .adre_tic {
  font-size: 0.48rem;
  color: #9fa1ab;
}

main #order_list .ord_lis li .toper .code {
  width: 1.64rem;
  height: 1.64rem;
  background-color: #fff;
  border-radius: 0.28rem;
}

main #order_list .ord_lis li .toper .code img {
  border-radius: 0.28rem;
  width: 100%;
}

main #order_list .ord_lis li .botid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.88rem;
}

main #order_list .ord_lis li .botid h4 {
  font-size: 0.56rem;
  color: #f3b438;
}

main #order_list .ord_lis li .botid .many {
  display: block;
  color: #fff;
  font-size: 0.48rem;
  line-height: 0.48rem;
}

footer {
  position: fixed;
  bottom: 0rem;
  padding: 0.28rem 1.84rem;
  box-sizing: border-box;
  height: 1.98rem;
  background-color: #fff;
  width: 100%;
}

footer #tobbar .baritem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #tobbar .baritem li .home {
  background-image: url(../images/home.png);
  width: 0.8rem;
  height: 0.76rem;
  background-size: cover;
  margin: 0 auto;
}

footer #tobbar .baritem li .fot {
  font-size: 0.4rem;
  color: #b6bac5;
  text-align: center;
  margin-top: 0.18rem;
}

footer #tobbar .baritem li .enter {
  background-image: url(../images/home2.png);
}

footer #tobbar .baritem li .selt {
  color: #0b1a40;
}

footer #tobbar .baritem li .movie_city {
  background-image: url(../images/fa.png);
  width: 0.8rem;
  height: 0.76rem;
  background-size: cover;
  margin: 0 auto;
}

footer #tobbar .baritem li .city {
  background-image: url(../images/fang.png);
}

footer #tobbar .baritem li .movies {
  background-image: url(../images/tab3.png);
  width: 0.88rem;
  height: 0.68rem;
  background-size: cover;
}

footer #tobbar .baritem li .mov {
  background-image: url(../images/tab.png);
}

footer #tobbar .baritem li .myself {
  background-image: url(../images/my.png);
  width: 0.66rem;
  height: 0.8rem;
  background-size: cover;
  margin: 0 auto;
}

footer #tobbar .baritem li .self {
  background-image: url(../images/mys.png);
}
