a {
    color: #fff;
}

/* work区域 图片会变大 */

.work-container {
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 50px; */
}

.title {
    text-align: center;
    color: rgb(194, 170, 137);
    height: 50px;
    font-size: 16px;
}

.work-section {
    color: rgb(146, 139, 150);
    line-height: 40px;
    /* border: 1px solid red; */
    /* margin-left:100px; */
    height: 400px;
    width: 45%;
    overflow: hidden;
    transition: 1s;
}

.work-section img {
    transition: 1s;
    height: 400px;
    width: 100%;
}

.work-section p {
    margin: 20px;
}

.work-iconbar {
    width: 100%;
}

.work-icon {
    width: 30%;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.icon1 {
    background: url("/2-国庆作业/1-太阳之家/images/1.png") no-repeat;
    /* background-size: 50px 40px; */
}

.icon2 {
    background: url("/2-国庆作业/1-太阳之家/images/2.png") no-repeat;
}

.icon3 {
    background: url("/2-国庆作业/1-太阳之家/images/3.png") no-repeat;
    background-position: 0 -6px;
}

.icon4 {
    background: url("/2-国庆作业/1-太阳之家/images/4.png") no-repeat;
}

.icon5 {
    background: url("/2-国庆作业/1-太阳之家/images/5.png") no-repeat;
}

.icon6 {
    background: url("/2-国庆作业/1-太阳之家/images/6.png") no-repeat;
}

.work-button {
    line-height: 50px;
    margin-left: 50px;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background: rgb(76, 49, 30);
    color: white;
}

.work-section img:hover {
    transition: 1s;
    transform:scale(1.2);
}

/* project区域 图片hover水印*/

.project-container {
    width: 100%;
    height: 900px;
}

.project-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    background-position: top center;
    background-size: cover;
    height: 400px;
    margin: 2%;
    width: 45%;
}

.item-border {
    opacity: 2.0 !important;
    margin-top: 30px;
    margin-left: 30px;
    width: 480px;
    height: 350px;
    border: 3px solid pink;
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    color: black;
}

.item-border h1 {
    font-size: 25px;
    color: purple;
    line-height:200px;
}

.project-item:hover {
    opacity: 0.6;
}

.project-item:hover .item-border {
    visibility: visible;
    inherits:initial;
    opacity:2.0 !important;
}

.item-1 {
    background-image: url(/2-国庆作业/1-太阳之家/images/proj.jpg);
}

.item-2 {
    background-image: url(/2-国庆作业/1-太阳之家/images/proj1.jpg);
}

.item-3 {
    background-image: url(/2-国庆作业/1-太阳之家/images/proj2.jpg);
}

.item-4 {
    background-image: url(/2-国庆作业/1-太阳之家/images/proj3.jpg);
}

.require {
    padding: 80px;
    line-height: 50px;
    background: rgb(194, 170, 137);
    color: white;
    width: 100%;
    height: 200px;
}