// header部分
header {
  //  定位栏
 
}
footer {
  .footer-bar {
    .footer-2::after{
      color:rgb(11, 26, 63);
    }
  }
}
// 主要部分
.main {
  overflow: scroll;
  width: 100vw;
  height: 78.375rem;
  background-color: #fbfbfb;

  .cinema-container {
    height: 8.5rem;

    position: relative;
    margin-top: 2.875rem;

    .cinema-box {
      height: 8.5rem;
      // width: 38rem;
      position: absolute;
      margin-left: 2.438rem;

      .cinema-img {
        width: 12.125rem;
        height: 7.625rem;
        border-radius: 0.625rem;
        position: absolute;
        left: 0.1rem;
        top: 0.3rem;
      }

      .content {
        width: 28rem;
        height: 4.6875rem;
        float: left;
        margin-top: 2.688rem;
        margin-left: 14.875rem;
        .word1 {
          line-height: 0.75rem;
          display: block;
          height: 1.875rem;
          // line-height: 1.875rem;
          font-size: 1.75rem;
          color: #000018;
        }
        .location-img {
          width: 1.25rem;
          height: 1.625rem;
          background: url("../img/location.png") no-repeat;
          background-size: 100% 100%;
          bottom: 2.38rem;
          left: 15.375rem;
          position: absolute;
        }

        .location-img::after {
          // content:"1.0km";
          width: 5.875rem;
          height: 1.25rem;
          font-family: SourceHanSansCN-Regular;
          font-size: 1.5rem;
          line-height:1.75rem;
          letter-spacing: 0rem;
          color: #141337;
          margin-left: 2rem;
          margin-top: 3rem;
        }

        .distance1::after {
          content: "1.0km";
        }
        .distance2::after {
          content: "1.0km";
        }
        .distance3::after {
          content: "231.0km";
        }
        .distance4::after {
          content: "1.6.0km";
        }
        .distance5::after {
          content: "54.0km";
        }
        .distance6::after {
          content: "45.0km";
        }
        .distance7::after {
          content: "31.0km";
        }
      }
    }
  }
}

footer{
  .footer-bar {
    .footer-2 {
      background: url("../img/footer-2b.png") no-repeat center/100% 100%;
    }
  }
}

