@charset "UTF-8";
body {
  position: absolute;
}

header {
  height: 70.625rem;
}

header .light {
  position: absolute;
  top: 22rem;
  left: 2.5rem;
  background: url("../img/light.png") no-repeat center/100%;
  width: 41.938rem;
  height: 12.063rem;
}

header .light span {
  left: 19.438rem;
  top: 3.188rem;
  position: absolute;
  color: #fff;
}

header .seat-container {
  width: 39.375rem;
  height: 34rem;
  position: absolute;
  top: 32.875rem;
  left: 3.75rem;
}

header .seat-container .box {
  width: 18.5rem;
  height: 28.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .seat-container .box-1 {
  top: 0;
  left: 0;
}

header .seat-container .box-2 {
  top: 0;
  right: 0;
}

header .seat-container .seat {
  line-height: 3.375rem;
  text-align: center;
  width: 5.25rem;
  height: 3.375rem;
  border-radius: 0.5rem;
  border: solid 0.125rem #ffffff;
}

header .seat-container .transparent {
  background: transparent;
}

header .seat-container .transparent a {
  color: #fff;
}

header .seat-container .white {
  background: #fff;
}

header .seat-container .white a {
  color: #000;
}

header .seat-container .blue {
  background: #4073ff;
  border: solid 0.125rem;
}

header .seat-container .blue a {
  color: #fff;
}

header .seat-container .status-box {
  width: 40rem;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

header .seat-container .status-box .status {
  width: 10rem;
  height: 2rem;
}

header .seat-container .status-box .status .block {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: inline-block;
}

header .seat-container .status-box .status span {
  margin-bottom: 0.5rem;
  line-height: 0.5rem;
  color: #fff;
}

header .seat-container .status-box .status-1 .block-1 {
  box-sizing: border-box;
  border: solid 0.125rem #ffffff;
}

header .seat-container .status-box .status-2 .block-2 {
  background-color: #4073ff;
}

header .seat-container .status-box .status-3 .block-3 {
  background-color: #e4ecff;
}

.footer {
  width: 100vw;
  height: 30.938rem;
  position: absolute;
  bottom: 0;
}

.footer .title {
  position: absolute;
  left: 2.538rem;
  font-size: 2rem;
  bottom: 25.938rem;
}

.footer .time {
  position: absolute;
  left: 2.538rem;
  bottom: 22.875rem;
}

.footer .order-box {
  width: 41.875rem;
  height: 8.5rem;
  border-radius: 1rem;
  border: solid 0.125rem #cccccc;
  position: absolute;
  left: 2.5rem;
  bottom: 11.063rem;
}

.footer .order-box .span1 {
  position: absolute;
  left: 1.938rem;
  top: 1.625rem;
}

.footer .order-box .span2 {
  position: absolute;
  left: 24.625rem;
  top: 1.625rem;
}

.footer .order-box .seat-bar {
  display: flex;
  position: absolute;
  left: 1.938rem;
  bottom: 2.063rem;
}

.footer .order-box .seat-bar .seat-box {
  color: #fff;
  margin-right: 0.625rem;
}

.footer .order-box .span4 {
  position: absolute;
  left: 24.625rem;
  bottom: 2.063rem;
  color: #4073ff;
}

.footer .button-blue {
  position: absolute;
  bottom: 2.188rem;
}

.arrow-back::after {
  content: "选座";
}
