html{
    font-size:100vw/750*50;
}
*{
    margin: 0;
    padding: 0;
}
@function size($num){ 
    @return ($num/50) + rem; 
  }
#page{
    width: 100%;
    height:100vh;
    background-color:#ffffff;
    .header{
        width: 100%;
        // height:size(1000);
        background-color: #0b193f;
        background-image:url(../images/bg1r.png);
        background-size:25%;
        background-repeat: no-repeat;
        background-position:right  top;
        box-sizing: border-box;   
        padding: 0 size(40) 0;
        overflow: hidden;
        .back{
            img{
                display: block;
                margin:size(110) 0 size(30);
                width: size(35);
            }
            p{
                color: #f2f2f2;
                font-size: size(36);
            }
        }
        .yingpin{
            text-align: center;
            background-image: url(../images/light.png);
            background-repeat: no-repeat;
            background-position:0px size(30);
            background-size:100% 100%;
            height:size(190);
            margin-top: size(120);
            img{
                width:size(590);
            }
            p{
                color: #ffffff;
                font-size: size(24);
            }
        }
        .seat{
            .row{
                display: flex;
                justify-content:space-between;
                margin-bottom: size(22);
                dd{
                    &:nth-child(3){
                        margin-right:size(62);
                    }
                    div{
                        width: size(84);
                        height: size(54);
                        border-radius: 8px;
                        border: solid 2px #ffffff;
                        color: #ffffff;
                        font-size: size(24);
                        text-align: center;
                        line-height: size(54);
                    }
                    .yx{
                        background-color: #4073ff;
                    }
                    .ys{
                        background-color: #e4ecff;
                        color: #0b193f;
                    }
                }
            }
        }
        .prompt{
            width: 100%;
            display: flex;
            margin: size(65) 0 size(60);
            .item{
                display: flex;
                align-items: center;
                margin-right: size(40);
                div{
                    width: size(32);
                    height: size(32);
                    border-radius: 8px;
                    border: solid 2px #ffffff;
                    margin-right: size(10);
                }
                span{
                    color: #ffffff;
                    font-size: size(12);
                }
            }
            .box2{
                div{
                    background-color: #4073ff;
                }
            }
            .box3{
                div{
                    background-color: #e4ecff;
                }
            }
        }
    }
    .footer{
        padding:size(50) size(40) 0;
        .content{
            h3{
                color: #000018;
                font-size: size(32);
            }
            p{
                color: #141337;
                font-size: size(24);
                margin-top: size(25);
            }
        }
        .select_sit{
            width: 100%;
            border-radius: 16px;
            border: solid 2px #cccccc;
            padding: size(30) size(26);
            display: flex;
            margin-top: size(50);
            box-sizing: border-box;
            h3{
                color: #141337;
                font-size: size(24);
                margin-bottom: size(20);
            }
            .yxsit{
                width: 50%;
                ul{
                    padding-bottom: size(24);
                    overflow: hidden;
                    ol{
                        width: size(40);
                        height: size(40);
                        background-color: #4073ff;
                        border-radius:1px;
                        margin-right: size(10);
                        margin-bottom: size(10);
                        float: left;
                        font-size: size(20);
                        text-align: center;
                        line-height: size(40);
                        text-align: center;
                        color: #fff;
                    }
                }
            }
            .allprice{
                p{
                    color: #4073ff;
                    font-size: size(28);
                }
            }
        }
            .buy{
                margin-top: size(48);
                    width:100%;
                    height:size(96);
                    background-color: #4073ff;
                    border-radius: 16px;
                    border: none;
                    color: #ffffff;
                    font-size: size(32);
                }
    }
}