html{
    font-size:100vw/750*50;
}
*{
    padding: 0;
    margin: 0;
}
@function size($num){ 
    @return ($num/50) + rem; 
  }
  #page{
      width: 100%;
      height: 100vh;
     
      .header{
        width: 100%;
        height:size(540);
        background-color: #0b193f;
        // background-image:url(../mobileimg/bg1r.png);
        background-size:25%;
        background-repeat: no-repeat;
        background-position:right  top;
        box-sizing: border-box;   
        padding-left:size(40);
        overflow: hidden;
        >p{
            color: #f2f2f2;
            font-size:size(36);
            margin:size(110) 0  0;
        }
        >div{
            margin:size(77) 0 size(35);
            text-align: center;
            position: relative;
            img{
                width:size(188);
            }
            p{
                color: #f2f2f2;
                font-size:size(28);
                margin-top: size(25);
            }
            .pen{
                width:size(46);
                height:size(46);
                background-color: #f3b438;
                border: solid 2px #0b193f; 
                text-align: center;
                border-radius: 50%;
                padding: size(4);
                box-sizing: border-box;
                position: absolute;
                top:50%;
                left:57%;
                img{
                   width:size(24);  
                    vertical-align:top;
                }
            }
        }   
      }
      .main{
        ul{
            list-style: none;
            li{
                cursor: pointer;
                display: flex;
                height: size(125);
                justify-content: space-between;
                align-items: center;
                padding:0 size(55) 0 size(40);
                border-bottom: 1px solid #cccccc;;
                p{
                    color: #0b193f;
                    font-size:size(28);
                }
                span{
                    font-size:size(27);
	                color: #0b193f;
                }
            }
        }
      }
      footer {
        position: fixed;
        bottom: size(0);
        padding: size(14) size(92);
        box-sizing: border-box;
        height: size(99);
        background-color: #fff;
        
        width: 100%;
        #tobbar {
            .baritem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                li {
                    
                    
                    .home {
                        background-image: url(../images/home.png);
                        width: size(40);
                        height: size(38);
                        background-size: cover;
                        margin: 0 auto;
                    }
                    .fot {
                        font-size: size(20);
                        color: #b6bac5;
                        text-align: center;
                        margin-top: size(9);
                    }
                    .enter {
                        background-image: url(../images/home2.png);
                    }
                    .selt {
                        color: #0b1a40;
                    }
    
                    // 影城
                    .movie_city {
                        background-image: url(../images/fa.png);
                        width: size(40);
                        height: size(38);
                        background-size: cover;
                        margin: 0 auto;
                    }
                    .city {
                        background-image: url(../images/fang.png);
                    }
                    //影片
                    .movies {
                        background-image: url(../images/tab3.png);
                        width: size(44);
                        height: size(34);
                        background-size: cover;
                        // background-repeat: no-repeat;
                    }
                    .mov {
                        background-image: url(../images/tab.png);
                    }
    
                    // 我的
                    .myself {
                        background-image: url(../images/my.png);
                        width: size(33);
                        height: size(40);
                        background-size: cover;
                        margin: 0 auto;
                    }
                    .self {
                        background-image: url(../images/mys.png);
                    }
                }
            }
        }
    }
    }
