* {
    margin: 0;
    padding: 0;
}

#close {
    border: 1px solid transparent;
    position: absolute;
    top: -44px;
    right: -44px;
    width: 88px;
    height: 88px;
    background-color: #b2b2b2;
    border-radius: 44px;
    cursor: pointer;
    span {
        display: inline-block;
        margin-top: 37px;
        margin-left: 15px;
        font-size: 32px;
        color: #fff;
    }
}
#close1 {
    border: 1px solid transparent;
    position: absolute;
    top: -44px;
    right: -44px;
    width: 88px;
    height: 88px;
    background-color: #b2b2b2;
    border-radius: 44px;
    cursor: pointer;
    span {
        display: inline-block;
        margin-top: 37px;
        margin-left: 15px;
        font-size: 32px;
        color: #fff;
    }
}

#bg {
    display: none;
    position: fixed;
    z-index: 10124;
    height: 600px;
    width: 444px;
    left: calc(50% - 222px);
    top: 140px;
    background: #000000;
    opacity: 0.3;
}

#login {
    position: relative;
    width: 424px;
    height: 580px;
    padding: 52px 42px;
    box-sizing: border-box;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 10125;
    left: calc(50% - 212px);
    top: 150px;
    overflow: hidden;
    .title {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 50px;
        span {
            display: inline-block;
            width: 40px;
            text-align: center;
            cursor: pointer;
            // padding: 0 6px;
            padding-bottom: 16px;
            font-size: 16px;
            color: #333333;
            // margin-bottom: ;
        }
        span:first-child {
            color: #999999;
            border-bottom: 4px solid #f99135;
        }
    }
    input::-webkit-input-placeholder {
        color: #999999;
    }
    .input {
        width: 340px;
        height: 46px;
        outline: none;
        color: #999999;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: #f4f4f4;
        border: 1px solid #d8d8d8;
        padding-left: 14px;
        border-radius: 5px;
    }
    .line {
        display: inline-block;
        width: 360px;
        border-top: 1px solid #d3d3d3;
        margin-top: 22px;
    }
    button {
        width: 340px;
        height: 46px;
        margin-top: 20px;
        margin-bottom: 25px;
        outline: none;
        background-color: #d3d3d3;
        border-radius: 5px;
        cursor: not-allowed;
        border: 1px solid #d3d3d3;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            pointer-events:none;
            text-decoration: none;
            font-size: 20px;
            color: white;
            line-height: 46px;
        }
    }
    .autologin {
        font-size: 14px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        justify-content: space-between;
        input {
            width: 18px;
            height: 18px;
            margin-right: 12px;
        }
        span {
            color: #999999;
            a {
                text-decoration: none;
                color: #f99135;
            }
        }
    }
    .agree {
        font-size: 12px;
        color: #999999;
        margin-top: 34px;
        input {
            width: 12px;
            height: 12px;
            margin-right: 15px;
        }
    }
    p{
        margin-top: -23px;
        font-size: 12px;
    }
    #loginCode{
        width: 120px;
        height: 46px;
        outline: none;
        color: #999999;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: #f4f4f4;
        border: 1px solid #d8d8d8;
        padding-left: 14px;
        border-radius: 5px;
        position: relative;
        float: left;
    }
    #loginCodeBox{
        border: 2px solid #dbdbdb;
        height: 46px;
        width: 69px;
        text-align: center;
        border-radius: 7px;
        letter-spacing: 5px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 46px;
        float: left;
        cursor: pointer;
    }
    #loginCodeMsg{
        position: absolute;
        top: 383px;
        left: 44px;
    }
    .eyes{
        position: absolute;
        right:20px;
        padding-top: 10px;
        color: #000;
    }
    #loginSx{
        height: 46px;
        font-size: 14px;
        line-height: 46px;
        margin-left: 15px;
    }
}

#register {
    position: relative;
    display: none;
    width: 424px;
    height: 580px;
    padding: 52px 42px;
    box-sizing: border-box;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 10125;
    left: calc(50% - 212px);
    top: 150px;
    overflow: hidden;
    .title {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 50px;
        span {
            display: inline-block;
            width: 40px;
            text-align: center;
            cursor: pointer;
            // padding: 0 6px;
            padding-bottom: 16px;
            font-size: 16px;
            color: #333333;
            // margin-bottom: ;
        }
        span:last-child {
            color: #999999;
            border-bottom: 4px solid #f99135;
        }
    }
    input::-webkit-input-placeholder {
        color: #999999;
    }
    .input {
        width: 340px;
        height: 46px;
        outline: none;
        color: #999999;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: #f4f4f4;
        border: 1px solid #d8d8d8;
        padding-left: 14px;
        border-radius: 5px;
        position: relative;
    }
    .line {
        display: inline-block;
        width: 360px;
        border-top: 1px solid #d3d3d3;
        margin-top: 22px;
    }
    button {
        width: 340px;
        height: 46px;
        margin-top: 20px;
        margin-bottom: 25px;
        outline: none;
        cursor: not-allowed;
        background-color: #d3d3d3;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            pointer-events:none;
            font-size: 20px;
            color: white;
            line-height: 46px;
        }
    }
    .gologin {
        text-align: right;
        span {
            color: #f99135;
            cursor: pointer;
            font-size: 14px;
        }
    }
    p{
        margin-top: -23px;
        font-size: 12px;
    }
    .eyes{
        position: absolute;
        right:20px;
        padding-top: 10px;
        color: #000;
    }
    #code{
        width: 120px;
        height: 46px;
        outline: none;
        color: #999999;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: #f4f4f4;
        border: 1px solid #d8d8d8;
        padding-left: 14px;
        border-radius: 5px;
        position: relative;
        float: left;
    }
    #codeBox{
        border: 2px solid #dbdbdb;
        height: 46px;
        width: 69px;
        text-align: center;
        border-radius: 7px;
        letter-spacing: 5px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 46px;
        float: left;
        cursor: pointer;
    }
    #sx{
        height: 46px;
        font-size: 14px;
        line-height: 46px;
        margin-left: 15px;
    }
    #codeMsg{
        position: absolute;
        top: 468px;
        left: 44x;
    }
}

header {
    background-color: white;
    position: sticky;
    border-bottom: 2px solid #f99135;
    top: 0px;
    z-index: 10000;
    .header {
        background-color: #f0f0f0;
        width: 100%;
        min-width: 1100px;
        >div {
            margin: 0 auto;
            display: flex;
            max-width: 1200px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #9a9a9a;
            .header-left {
                height: 100%;
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #9a9a9a;
                }
            }
            .header-right {
                height: 100%;
                display: flex;
                align-items: center;
                span {
                    height: 40px;
                    margin: 0 10px;
                    &:first-child {
                        height: 19px;
                        border-right: 1px solid #9a9a9a;
                        padding-right: 20px;
                        // margin-right: 0;
                        display: flex;
                        align-items: center;
                    }
                    button {
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font-size: 13px;
                        line-height: 40px;
                        color: #9a9a9a;
                    }
                }
            }
        }
    }
    .nav {
        height: 90px;
        
        >div {
            height: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .left {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                >div {
                    height: 100%;
                    // border: 1px solid red;
                    width: 190px;
                    background-image: url(../images/logo-img.jpg);
                    background-repeat: no-repeat;
                    background-size: 170px;
                    background-position: left center;
                }
                select {
                    width: 50px;
                    border: none;
                    outline: none;
                    appearance: none;
                    background-image: url(../images/down-icon.jpg);
                    background-repeat: no-repeat;
                    background-size: 10px;
                    background-position: 32px center;
                }
            }
            ul {
                list-style: none;
                display: flex;
                height: 100%;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                li {
                    text-align: center;
                    white-space:nowrap;
                    height: 100%;
                    padding: 0 24px;
                    // margin: 0 12px;
                    cursor: pointer;
                    line-height: 90px;
                    &:hover {
                        background-color: #f99135;
                    }
                    &:hover a {
                        color: #fff;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
            .right {
                display: flex;
                align-items: center;
                input {
                    color: #bfbfbf;
                    font-size: 16px;
                    padding-left: 20px;
                    width: 300px;
                    height: 38px;
                    outline: none;
                    border: 2px solid #f99135;
                    border-radius: 21px;
                }
                 ::-webkit-input-placeholder {
                    color: #bfbfbf;
                    font-size: 16px;
                }
                button {
                    margin-left: -36px;
                    width: 70px;
                    height: 42px;
                    background-color: #f99135;
                    outline: none;
                    border: none;
                    border-radius: 21px;
                    background-image: url(../images/search-img.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        line-height: 42px;
                    }
                }
            }
        }
    }
}

main {
    // border: 1px solid red;
    // height: 800px;
    .banner {
        width: 100%;
        height: 360px;
        min-width: 1300px;
        position: relative;
        #carouselExampleIndicators {
            button{
                border: none;
                background-color: transparent;
            }
        }
        img {
            width: 100%;
            height: 360px;
        }
        .choose {
            position: absolute;
            bottom: 27px;
            left: calc(50% - 100px);
            display: flex;
            div {
                width: 40px;
                height: 3px;
                margin: 0 5px;
                background-color: white;
                opacity: 0.7;
            }
        }
    }
    .search {
        max-width: 1200px;
        margin: 42px auto;
        white-space:nowrap;
        min-width: 1300px;
        button {
            height: 44px;
            border: none;
            outline: none;
            background-color: #f99135;
            a {
                width: 100%;
                height: 100%;
                color: #fff;
                display: inline-block;
                text-decoration: none;
            }
        }
        button:first-child {
            width: 150px;
            border-top-right-radius: 22px;
            border-bottom-right-radius: 22px;
            a {
                font-size: 24px;
                line-height: 44px;
            }
        }
        button:last-child {
            width: 120px;
            border-radius: 22px;
            a {
                font-size: 18px;
                line-height: 44px;
            }
        }
        select {
            width: 206px;
            height: 44px;
            font-size: 16px;
            color: #8c8c8c;
            border-radius: 22px;
            padding-left: 22px;
            outline: none;
            border: 2px solid #ccc;
            margin: 10px;
            appearance: none;
            background-image: url(../images/down-icon.jpg);
            background-repeat: no-repeat;
            background-position: 174px center;
        }
    }
    .container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;
        padding-bottom: 70px;
        .left {
            max-width: 735px;
            // border: 1px solid red;
            .title {
                display: flex;
                margin: 7px 0px;
                justify-content: space-between;
                div {
                    color: #f99135;
                    display: flex;
                    h2 {
                        font-size: 26px;
                        font-weight: normal;
                    }
                    span {
                        font-size: 20px;
                        align-self: flex-end;
                        margin-left: 15px;
                    }
                    a {
                        font-size: 14px;
                        color: #f99135;
                        text-decoration: none;
                        align-self: center;
                    }
                }
            }
            .content-reying {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 25px;
                >div {
                    width: 160px;
                    height: 260px;
                    margin: 15px 0px;
                    overflow: hidden;
                    &:hover {
                        box-shadow: 0px 0px 10px 5px #dddddd;
                        transform: scale(1.05);
                    }
                    div:first-child {
                        width: 100%;
                        height: 220px;
                        position: relative;
                        &:hover .buy {
                            display: block;
                        }
                        img {
                            width: 160px;
                            height: 220px;
                        }
                        .buy {
                            display: none;
                            width: 100%;
                            height: 40px;
                            text-align: center;
                            background-color: rgba(249, 145, 53, 0.8);
                            // opacity: 0.8;
                            position: absolute;
                            bottom: 0;
                            a {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                text-decoration: none;
                                color: #fff;
                                font-size: 14px;
                                line-height: 40px;
                            }
                        }
                    }
                    div:last-child {
                        height: 40px;
                        display: flex;
                        padding: 0px 10px;
                        line-height: 40px;
                        box-sizing: border-box;
                        border: 1px solid #e8e8e8;
                        border-top: none;
                        justify-content: space-between;
                        span:first-child {
                            font-size: 16px;
                            color: #003333;
                        }
                        span:last-child {
                            font-size: 16px;
                            color: #f99135;
                            font-style: italic;
                        }
                    }
                }
            }
            .content-shangying {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                >div {
                    width: 160px;
                    height: 300px;
                    margin-top: 18px;
                    div:nth-of-type(1) {
                        width: 100%;
                        height: 220px;
                        position: relative;
                        &:hover .buy {
                            display: block;
                        }
                        img {
                            width: 160px;
                            height: 220px;
                        }
                        .buy {
                            display: none;
                            width: 100%;
                            height: 40px;
                            text-align: center;
                            background-color: rgba(249, 145, 53, 0.8);
                            // opacity: 0.8;
                            position: absolute;
                            bottom: 0;
                            span {
                                display: inline-block;
                                width: 50%;
                                height: 100%;
                                box-sizing: border-box;
                                a {
                                    display: inline-block;
                                    // width: 100%;
                                    height: 100%;
                                    text-decoration: none;
                                    color: #fff;
                                    font-size: 14px;
                                    line-height: 40px;
                                }
                            }
                            span:first-child {
                                border-right: 1px solid #ddd;
                            }
                        }
                    }
                    div:nth-of-type(2) {
                        height: 40px;
                        display: flex;
                        padding: 0px 10px;
                        line-height: 40px;
                        box-sizing: border-box;
                        border: 1px solid #e8e8e8;
                        border-top: none;
                        overflow: hidden;
                        justify-content: space-between;
                        span {
                            font-size: 16px;
                            color: #003333;
                        }
                    }
                    >span {
                        width: 100%;
                        margin-top: 12px;
                        display: inline-block;
                        font-size: 14px;
                        color: #999999;
                        text-align: center;
                    }
                }
            }
        }
        .right {
            max-width: 360px;
            // border: 1px solid red;
            .title {
                display: flex;
                justify-content: space-between;
                span:first-child {
                    font-size: 26px;
                    color: #f99135;
                }
                span:last-child {
                    align-self: flex-end;
                    a {
                        text-decoration: none;
                        font-size: 14px;
                        color: #f99135;
                    }
                }
            }
            .changjinhu {
                width: 100%;
                height: 196px;
                display: flex;
                margin-top: 20px;
                border: 1px solid #e8e8e8;
                div {
                    img {
                        width: 140px;
                        height: 194px;
                    }
                    p {
                        padding-left: 10px;
                    }
                    p:nth-of-type(1) {
                        font-size: 18px;
                        color: #333333;
                        margin-top: 60px;
                    }
                    p:nth-of-type(2) {
                        font-size: 16px;
                        color: #999999;
                        margin-top: 10px;
                        margin-bottom: 4px;
                    }
                    p:nth-of-type(3) {
                        color: #f99135;
                        font-size: 14px;
                    }
                }
            }
            .towmovie {
                display: flex;
                margin-top: 22px;
                margin-bottom: 50px;
                justify-content: space-between;
                >div {
                    width: 172px;
                    height: 190px;
                    border: 1px solid #e8e8e8;
                    div:last-child {
                        padding: 10px;
                    }
                    img {
                        width: 100%;
                        height: 118px;
                    }
                    p:first-child {
                        font-size: 18px;
                        color: #333333;
                    }
                    p:last-child {
                        margin-top: 4px;
                        font-size: 14px;
                        color: #999999;
                    }
                }
            }
            .first {
                display: flex;
                margin: 20px 0px;
                p {
                    margin-left: 14px;
                    font-size: 14px;
                    align-self: center;
                    a {
                        text-decoration: none;
                        color: #333333;
                    }
                }
            }
            .redian {
                span {
                    display: inline-block;
                    width: 25px;
                    font-size: 16px;
                    color: #acacac;
                    // margin-right: 10px;
                    font-style: italic;
                }
                p {
                    font-size: 14px;
                    padding: 10px 0px;
                    a {
                        text-decoration: none;
                        color: #333333;
                    }
                }
                .orange {
                    color: #f99135;
                }
            }
        }
    }
}

footer {
    .top {
        height: 222px;
        width: 100%;
        white-space:nowrap;
        border-top: 1px solid #dbdbdb;
        background-color: #262526;
        // border: 1px solid red;
        >div {
            display: flex;
            height: 100%;
            list-style: none;
            justify-content: center;
            // align-items: center;
            // padding-top: 34px;
            box-sizing: border-box;
            >div {
                margin: 0 100px;
                padding-top: 34px;
                h3 {
                    color: white;
                    font-size: 18px;
                }
                span {
                    display: block;
                    width: 50px;
                    height: 3px;
                    background-color: #f99135;
                    margin-top: 10px;
                }
                ul {
                    padding-top: 15px;
                    li {
                        list-style: none;
                        font-size: 12px;
                        padding-bottom: 7px;
                        color: #e2e2e2;
                    }
                }
            }
        }
    }
    .bottom {
        height: 87px;
        background-color: #262526;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #545454;
        P {
            margin: 0 auto;
            text-align: center;
            font-size: 12px;
            color: white;
            margin-bottom: 5px;
        }
    }
}