.header-title{
    font-size:20px;
    color:#c3ab89;
    display:inline-block;

}

.header-nav{
    font-size:20px;
    color:black;
}



.banner-text{
    color:white;
    font-size:14px;
}
.detail{
    width:100px;
}


