@function toRem($a) {
    @return ($a/50) + rem;
}
html {
    font-size: 100vw/750 * 50;
}

header {
    background-color: #0b193f;
    height: toRem(390);
    #head {
        height: toRem(280);
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            background-image: url("../images/bg1r.png");
            position: absolute;
            background-size: cover;
            right: 0px;
            top: 0px;
            width: toRem(179);
            height: toRem(206);
        }
        .wrap {
            margin-left: toRem(42);
            margin-top: toRem(193);
            color: #f2f2f2;
            font-size: toRem(36);
            display: flex;
            align-items: center;
            h3 {
                font-weight: normal;
                font-size: toRem(36);
                margin-left: toRem(17);
            }
            &::before {
                content: "";
                display: block;
                width: toRem(44);
                height: toRem(34);
                background-image: url("../images/helo.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .order_btn {
        width: toRem(670);
        height: toRem(88);
        background-color: #233052;
        margin: 0 auto;
        border-radius: toRem(14);
        display: flex;
        padding: toRem(12) toRem(17);
        box-sizing: border-box;
        justify-content: space-around;
        h3 {
            font-size: toRem(24);
            color: #fff;
            padding: toRem(15)  toRem(80);
        }
        #layuse,#all {
            padding: toRem(20) toRem(100);
            box-sizing: border-box;
        }
        .nowuse {
            background-color: #ffffff;
            border-radius: toRem(14);
            h3 {
                color: #0b193f;
            }
        }
    }
}

main {
    margin-bottom: toRem(120);
    #used{
        display: none;
        padding: 0 toRem(40);
        .used_list {
            li {
                display: flex;
                margin: toRem(34) 0 toRem(49);
                .img_us {
                    margin-right: toRem(31);
                    img {
                        width: toRem(172);
                        height: toRem(310);
                    }
                }
                .decil {
                    color: #000018;
                    padding: toRem(61) 0;
                    box-sizing: border-box;
                    flex-grow: 1;
                    .des {
                        h3 {
                            font-size: toRem(32);
                        }
                        p{
                            font-size: toRem(24);
                            margin: toRem(23) 0;
                        }
                    }
                }
                h5 {
                    font-size: toRem(24);
                    color: #46cec9;
                }
                .red {
                    color: red;
                }
            }
        }
    }
    #order_list {
        width: 100%;
        box-sizing: border-box;
        padding: 0 toRem(40);
        .ord_lis {
            li {
                // width: toRem(702);
                margin: toRem(46) 0;         
                height: toRem(352);
                background-image: url("../images/til.jpg.png");
                background-size: 100% 100%;
                // background-repeat: no-repeat;
                padding: toRem(37) toRem(35) toRem(52) toRem(35);
                box-sizing: border-box;
                .toper {
                    padding-bottom: toRem(38);
                    box-sizing: border-box;
                    border-bottom: 1px dashed #9fa1ab;
                    display: flex;
                    justify-content: space-between;
                    h4 {
                        font-size: toRem(28);
                        color: #fff;
                        margin-bottom: toRem(21);
                    }
                    .adre_tic {
                        font-size: toRem(24);
                        color: #9fa1ab;
                    }
                    .code {
                        width: toRem(82);
                        height: toRem(82);
                        background-color: #fff;
                        border-radius: toRem(14);
                        img{
                            border-radius: toRem(14);
                            width: 100%;
                        }
                    }
                }
                .botid {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: toRem(44);
                    h4 {
                        font-size: toRem(28);
                        color: #f3b438;
                    }
                    .many {
                        display: block;
                        color: #fff;
                        font-size: toRem(24);
                        line-height: toRem(24);
                    }
                }
            }
        }
    }

}

footer {
    position: fixed;
    bottom: toRem(0);
    padding: toRem(14) toRem(92);
    box-sizing: border-box;
    height: toRem(99);
    background-color: #fff;

    width: 100%;
    #tobbar {
        .baritem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                .home {
                    background-image: url(../images/home.png);
                    width: toRem(40);
                    height: toRem(38);
                    background-size: cover;
                    margin: 0 auto;
                }
                .fot {
                    font-size: toRem(20);
                    color: #b6bac5;
                    text-align: center;
                    margin-top: toRem(9);
                }
                .enter {
                    background-image: url(../images/home2.png);
                }
                .selt {
                    color: #0b1a40;
                }

                // 影城
                .movie_city {
                    background-image: url(../images/fa.png);
                    width: toRem(40);
                    height: toRem(38);
                    background-size: cover;
                    margin: 0 auto;
                }
                .city {
                    background-image: url(../images/fang.png);
                }
                //影片
                .movies {
                    background-image: url(../images/tab3.png);
                    width: toRem(44);
                    height: toRem(34);
                    background-size: cover;
                    // background-repeat: no-repeat;
                }
                .mov {
                    background-image: url(../images/tab.png);
                }

                // 我的
                .myself {
                    background-image: url(../images/my.png);
                    width: toRem(33);
                    height: toRem(40);
                    background-size: cover;
                    margin: 0 auto;
                }
                .self {
                    background-image: url(../images/mys.png);
                }
            }
        }
    }
}
