* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    text-decoration:none;
}

.header {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    padding-left: 50px;
    padding-right: 100px;
    height: 60px;
}

.header-logo {
    white-space: nowrap;
    /* overflow: hidden; */
    /* margin-right: 50px; */
    /* float:left; */
    /* border: 1px solid red; */
    display: inline-block;
    width: 200px;
    color: #c2aa89;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
}

.header-nav {
    height: 60px;
    width: 480px;
    /* overflow:hidden; */
    margin-left: 80px;
    white-space: nowrap;
    /* float:left; */
    /* border: 1px solid red; */
    display: inline-block;
    
}
.container {
    /* border: 1px solid red; */
    width: 80px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    /* margin-right: 10px; */
    text-align: center;
    transition: 0.6s;
    transform: rotateY(0deg) rotateX(0deg);
    transform-style: preserve-3d;
    float: left;
}

.container div {
    background:#fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 2s;
    color: rgb(194, 170, 137);
}

.container div a{
    font-weight:600;
    font-size:16px;
    text-decoration:none;

}

.top {
    background-color: black;
    transform: translateY(-15px) rotateX(90deg);
}

.foot {
    background-color: black;
    transform: translateY(15px) rotateX(-90deg);
    border-top: 1px white solid;
}
.foot a{
    color:#c2aa89; 
}

.left{
    width: 30px;
    background-color: black;
    transform: translateX(-15px) rotateY(90deg);
}

.right {
    width:30px;
    background-color: black;
    transform: translateX(85px) rotateY(-90deg);
}

.front {
    background-color: black;
    transform: translateZ(15px);
}
.front a{
    
    color:black;
}


.rear {
    background-color: black;
    transform: translateZ(-15px);
}

/* hover时付旋转 */

.container:hover{
    color:#c2aa89;;
    transform: rotateY(0deg) rotateX(90deg);
}
#label_1{
        color:#c2aa89; 
}

/* .container a:visited{
    color:#c2aa89; 
} */