/*消除标签默认影响 text-decoration:none margin padding */

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    background: white;
    position: relative;
}

.header-img a {
    width: 160px;
    height: 45px;
    position: absolute;
    top: 20px;
    left: 50px;
    display: inline-block;
}

.header-img img {
    width: 100%;
    height: 100%;
}

.header-tabList {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    height: 88px;
    width: 500px;
    /* 
    height:90px;
    width:450px;
    text-align:center;
    position:absolute;
    right:0;
    display:inline-block; */
}

.header-tabList li {
    height: 90px;
}

.header-tabList li a {
    color: black;
}
.header-tabList li:nth-child(1){
    border-bottom: #3c8de7 4px solid;
}
.header-tabList li:hover {
    border-bottom: #3c8de7 4px solid;
}

.header-tabList-item {
    color:#222;
    position: relative;
    text-align: center;
    width: 80px;
    line-height: 90px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    margin-left: 77px;
    cursor: pointer;
    font-family: "Microsoft Yahei";

}
/* 横幅图片 */
.div-banner {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 520px;
    background-image: url("/1-网页项目实战/2-百度翻译/img/desktop-banner.jpg");
    background-size: 100% 100%;
}

/* 横幅左边部分 */

.div-banner-main {
    height: 300px;
    width: 1200px;
    position: absolute;
    top: 110px;
    left: 70px;
}

.div-banner-main .title {
    color:white;
    line-height: 75px;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 19px;
}



.div-banner-main .describe ul li {
    margin-bottom:30px;
    line-height: 30px;
    font-size: 22px;
border-right:1px red solid;
    letter-spacing:5px;
    display:inline-block;
    color: white;
    font-size: 20px;
}
.bannerlist{
width:300px;
margin-top:100px;
}
.bannerList .button{
    line-height:50px;
    text-align:center;
    width:180px;
    background-color:#5696f7;
    height: 50px;
    border-radius: 25px;
    display:inline-block;
 color:white;
 margin-left:20px;
}
.bannerList .button a{
    color:white;
}

.video-wrapper{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 490px;
    height: 276px;
}

.video{
    right:0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    outline: 0;
}

.function-wrapper{
    width:100%;
    height:300px;
    display:inline-block;
    position:relative;
}

.function-bar{
    margin-top:40px;
    display:flex;
    width:100%;
    justify-content: space-between;
    height:210px;

}
/* 单个卡片 */
.function{
    display:inline-block;
    text-align:center;
    width:183px;
    height:206px;
    margin-right:50px;
    margin-left:50px;
}

.function-text{
    margin-top:30px;
    width:180px;
    
    font-size: 15px;
    display:inline-block;
}

.function img{
    width:50px;
    height:50px;
}

.function span{
    display:inline-block;
}
.function-text .title{
    display:inline-block;
    font-size:24px;
    font-weight:800;
    color:#333333;

}
.function-text .descrption{
    display:inline-block;
    font-size:20px;
    color:#666666;
}

.footer{
    width:100%;
    height:60px;
    background-color:#404040;
}

.footer ul{
display:inline-block;
}
.footer ul li{
    display:inline-block;
    font-size:14px;
    color:white;
    margin-right:50px;
    margin-left:30px;
    line-height:60px;
    text-align:center;
}
.footer ul li a{
    color:white;
}

