header {
  height: 24.3rem;
}

footer .footer-bar .footer-3::after {
  color: #0b1a3f;
}

body .xbox {
  margin-top: 2.25rem;
  width: 30.063rem;
  height: 19.438rem;
  margin-left: 0.938rem;
  position: relative;
}

body .xbox .bg {
  width: 10.75rem;
  height: 19.375rem;
  background: url("../img/movie-1@2x.png") no-repeat center/100%;
  margin-left: 1.563rem;
  border-radius: 0.875rem;
}

body .xbox .text-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 19.375rem;
  width: 16rem;
}

body .xbox .text-box .h1 {
  position: absolute;
  top: 3.8rem;
}

body .xbox .text-box .span1 {
  position: absolute;
  top: 7.25rem;
}

body .xbox .text-box .span2 {
  position: absolute;
  top: 10.313rem;
}

body .xbox .text-box .link {
  position: absolute;
  top: 14rem;
  color: #46cec9;
}

body .xbox .text-box .red {
  color: red;
}

footer .footer-bar .footer-3 {
  background: url("../img/footer-3b.png") no-repeat center/100% 100%;
}
