* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

body header {
  position: unset;
  width: 100vw;
  height: 18.125rem;
  background: url("../img/bg-kingkong.png") no-repeat center/100%;
}

body .text-container {
  position: absolute;
  top: 18.125rem;
  width: 46.875rem;
  height: 18.125rem;
}

body .text-container .movie-pic {
  width: 13rem;
  height: 19rem;
  position: absolute;
  top: -4.375rem;
  left: 1rem;
  background: url("../img/movie-1@2x.png") no-repeat center/100%;
}

body .text-container .text-box {
  width: 29.25rem;
  height: 19rem;
  position: absolute;
  top: 0;
  right: 0;
}

body .text-container .text-box .text-left {
  white-space: nowrap;
  position: absolute;
  color: #8890a3;
  left: 0;
}

body .text-container .text-box .text-1 {
  top: 2.063rem;
  color: #000018;
}

body .text-container .text-box .text-2 {
  top: 5.563rem;
}

body .text-container .text-box .text-3 {
  top: 8.438rem;
}

body .text-container .text-box .text-4 {
  top: 11.375rem;
}

body .text-container .text-box .text-right {
  position: absolute;
  left: 8.688rem;
  color: #263153;
}

body .text-container .text-box .text-5 {
  top: 5.563rem;
}

body .text-container .text-box .text-6 {
  bottom: 8.438rem;
}

body .text-container .text-box .text-7 {
  top: 11.375rem;
}

body .text-container .footer-gray {
  width: 100vw;
  height: 1rem;
  background: #edf0f9;
  position: absolute;
  bottom: 0;
  position: absolute;
}

body .main {
  width: 46.875rem;
  height: 65.438rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
}

body .main .describe {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  top: 8.5rem;
  width: 41.875rem;
  height: 28.625rem;
  line-height: 3.375rem;
}

body .main .two-button-bar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}

body .main .two-button-bar .two-button {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .main .two-button-bar .two-button a {
  color: #000;
}

body .main .two-button-bar .two-button2 {
  border-bottom: 5px solid;
  border-bottom-color: #4073ff;
}
