body {
  position: relative;
  border: 1px solid green;
}

.top {
  width: 100vw;
  height: 42.563rem;
}

.top .head {
  position: relative;
  height: 29.063rem;
}

.top .head .arrow-back {
  width: 2.188rem;
  height: 1.875rem;
  background: url("../img/arrow-back.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 7.813rem;
  left: 2.75rem;
}

.top .head .head-img {
  position: relative;
  height: 23.125rem;
}

.top .head-name {
  font-size: 1.75rem;
  position: absolute;
  bottom: 1.5rem;
  left: 2.563rem;
}

.section {
  height: 13.5rem;
  display: flex;
  flex-wrap: wrap;
}

.section .address {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #131f44;
  margin-left: 2.5rem;
  margin-right: 3rem;
}

.section .box {
  box-sizing: border-box;
  height: 5.6rem;
  width: 15.625rem;
  position: relative;
}

.section .box .box-bar {
  display: flex;
  width: 15.625rem;
  height: 2.125rem;
  position: absolute;
  top: 0;
  left: 0;
}

.section .box .box-bar p {
  font-size: 2rem;
  color: #141337;
  position: absolute;
  right: 5rem;
}

.section .box .box-bar .location {
  position: absolute;
  left: 2.938rem;
  background: url("../img/location.png") no-repeat center/100%;
  width: 1.625rem;
  height: 2.125rem;
}

.section .box .box-bar .star {
  position: absolute;
  right: 9.75rem;
  background: url("../img/star.png") no-repeat center/100%;
  width: 2.125rem;
  height: 2rem;
}

.section .box .box-bar .moneys {
  position: absolute;
  left: 2.125rem;
  width: 10rem;
  height: 2.125rem;
  background: url("../img/moneys.png") no-repeat center/100%;
}

.section .box span {
  position: absolute;
  bottom: 0;
  left: 2.563rem;
  font-size: 1.5rem;
  color: #8890a3;
}

.main {
  width: 100%;
  height: 56.25rem;
  position: absolute;
  bottom: 0;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.main .title {
  font-size: 2rem;
  line-height: 0.75rem;
  position: absolute;
  top: 2.438rem;
  left: 2.564rem;
}

.main .box1 {
  position: absolute;
  top: 5.313rem;
}

.main .box2 {
  position: absolute;
  top: 8.062rem;
}

.main .movie-box {
  width: 100%;
  height: 19.688rem;
  position: relative;
  margin-left: 2rem;
}

.main .movie-box .movie-picture {
  position: absolute;
  left: 0.5rem;
  top: 0.125rem;
  width: 13rem;
  height: 19.375rem;
  border-radius: 0.875rem;
}

.main .movie-box .picture-1 {
  background: url("../img/movie-1@2x.png") no-repeat center/100%;
}

.main .movie-box .picture-2 {
  background: url("../img/movie-2@2x.png") no-repeat center/100%;
}

.main .movie-box .movie-title {
  font-family: SourceHanSansCN-Bold;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 16.188rem;
}

.main .movie-box .movie-price {
  position: absolute;
  top: 4.688rem;
  left: 16.188rem;
  font-family: SourceHanSansCN-Regular;
  font-size: 1.25rem;
  color: #396dff;
}

.main .movie-box .time-container {
  height: 9.438rem;
  position: absolute;
  bottom: 0.8rem;
  left: 16rem;
}

.main .movie-box .time-container span {
  color: #8890a3;
  font-size: 1.5rem;
}

.main .movie-box .time-container .time-box {
  width: 24rem;
  height: 6.75rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: hidden;
}

.main .movie-box .time-container .time-box .item {
  margin-right: 0.938rem;
  width: 6.25rem;
  height: 2.938rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: solid 0.125rem #d1dfff;
  font-size: 1.5rem;
  color: #000018;
  text-align: center;
  line-height: 2.938rem;
}
