@charset "UTF-8";
header {
  height: 18.125rem;
}

.arrow-back::after {
  content: "注册";
}

.main {
  width: 100vw;
}

.main .input-box {
  width: 100vw;
  height: 9rem;
  margin-top: 3rem;
  position: relative;
}

.main .input-box .input-name {
  height: 1.5rem;
  font-family: SourceHanSansCN-Regular;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  color: #666666;
  position: absolute;
  top: 0;
  left: 2.5rem;
}

.main .input-item {
  font-size: 1.75rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
  width: 41.875rem;
  height: 6rem;
  border-radius: 1rem;
  border: solid 0.063rem #cccccc;
  position: relative;
}

.main .eye {
  width: 2.5rem;
  height: 1.375rem;
  background: url("../img/eye.png") no-repeat;
  position: absolute;
  right: 6rem;
  top: 4.5rem;
  background-size: 100%;
}
