footer .footer-bar .footer-4::after {
  color: #0b1a3f;
}

header {
  height: 33.75rem;
  position: relative;
}

header .label {
  color: #fff;
  font-size: 2.25rem;
  position: absolute;
  top: 7.625rem;
  left: 2.438rem;
}

header .user-head {
  background: url("../img/head-img.png") no-repeat;
  width: 11.813rem;
  height: 11.813rem;
  background-size: 100%;
  position: absolute;
  top: 14.563rem;
  margin-left: 17.5rem;
  margin-right: 17.5rem;
}

header .user-name {
  width: 10rem;
  font-size: 1.75rem;
  color: #f2f2f2;
  position: absolute;
  bottom: 3.5rem;
  left: 20.81rem;
  right: 20.875rem;
}

.main {
  height: 67.813rem;
}

.main .item {
  width: 100vw;
  height: 7.75rem;
  border: transparent 1px solid;
  border-bottom-color: #d2d2d2;
  position: relative;
}

.main .item a {
  text-decoration: none;
  color: #0b193f;
  margin-left: 2rem;
  font-family: SourceHanSansCN-Regular;
  font-size: 1.75rem;
  line-height: 7.75rem;
}

.main .item .arrow-right {
  position: absolute;
  top: 2.8rem;
  right: 3.4rem;
  width: 0.938rem;
  height: 1.688rem;
  background: url("../img/arrow-right.png") no-repeat;
  background-size: 100% 100%;
}

footer .footer-bar .footer-4 {
  background: url("../img/footer-4b.png") no-repeat center/100% 100%;
}
