footer {
  .footer-bar {
    .footer-1 {
      background: url("../img/footer-1b.png") no-repeat center/100% 100%;
    }
    .footer-1::after{
      color:rgb(11, 26, 63);
    }
  }
}

.main {
  height: 95rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
overflow:scroll;
  position: absolute;
  .ticket-container {

    width: 45.375rem;
    height: 20.563rem;
    position: absolute;
    top: 2.75rem;
    right: 0;
    overflow: scroll;
  
    .title {
      position: absolute;
      left: 1.313rem;
      top: 0;
    }
  
    .ticket-bar {
      overflow: scroll;
      // overflow: hidden;

      width: 45.375rem;
      height: 16.375rem;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      //
      .ticket-box {
        flex-shrink: 0;
        overflow: hidden;
        width: 32.125rem;
        height: 16.375rem;

        background: url("../img/ticket-short.jpg") no-repeat;
        background-size: 32.125rem auto;
        // flex-shrink: 0;
        margin-right: 1rem;
        margin-left: 0.2rem;
        position: relative;
  
        .title {
          margin-top: 2.313rem;
          margin-left: 3.063rem;
          font-family: SourceHanSansCN-Bold;
          font-size: 1.75rem;
          line-height: 0.75rem;
          letter-spacing: 0rem;
          color: #ffffff;
        }
  
        .place {
          position: absolute;
  
          top: 5.438rem;
          left: 3.125rem;
  
          font-family: SourceHanSansCN-Regular;
          font-size: 1.5rem;
          // line-height: 0.75rem;
          letter-spacing: 0rem;
          color: #ffffff;
          opacity: 0.47;
        }
  
        .number {
          position: absolute;
          bottom: 3.55rem;
          left: 3.125rem;
          width: 8.5rem;
          line-height: 7.313rem;
          font-family: SourceHanSansCN-Bold;
          font-size: 1.75rem;
          line-height: 0.75rem;
          letter-spacing: 0.475rem;
          color: #f3b438;
        }
        .detail {
          line-height: 0.75rem;
          // width:8rem;
          position: absolute;
          bottom: 3.55rem;
          right: 3.25rem;
          color: #fff;
          font-family: SourceHanSansCN-Regular;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// 电影盒子
.movie-bar-1{
position:absolute;
top:23rem;
right:0;
}
.movie-bar-2{
  position:absolute;
  top:56rem;
  right:0;
  }
